body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    
}

.header{
    padding-top: 30px;
    weight: 100%;
    height: 150px;
    overflow: hidden;
}

#logo{
    width: 150px;
    height:150px;
    margin: 10px;
    padding: 0;
    display: inline;
    position: relative;

}

#logo img {
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
}

#title{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 65px;
    
    font-weight: 700;
    display: inline;
    text-align: left;

}

#title1{
    color:black;
}

#title2{
    color:black;
}

#tab{
    width: 80%;
    height: 80%;
    margin: auto;
    align-self: center; 
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

#card{
    width: 80%;
    height: 160px;
    margin: auto;
    padding: 0;
    margin-top:80px;
    margin-bottom: 60px;
    
    background: white;
    
}




#image{
    display: inline-block;
    position: relative;
    width: 30%;
    float: left;
}

#image img{
    left:0;
    top:0;
    width: 160px;
    height: 160px;
    border-radius: 50%;

}

#detail{
    display: inline-block;
    position: relative;
    margin:0;
    padding: 10px;
    width: 65%;
    float: left;
    color: black;
}

#detail #name{
    color: black;
    display: inline;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1.3px;
    line-height: 35px;
    font-family: 'Lato', sans-serif;

}
#detail a img{
    width: 20px;
    height: 20px;
    display: inline;
    margin-left: 10px;
}

#detail #designation{
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
    display: block;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: 'Lato', sans-serif;

}
#contact{
    text-align: left;
    
}

#contact a{
    text-decoration: none;
    color: black;
    letter-spacing: 0.8px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    
}

#contact a:hover{
    color:red;
}

#mark{
    color:red;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(138, 138, 138); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000000; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 87, 87); 
  }